# Webscrapping the data for building model about car price prediction

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
from selenium import webdriver 
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By  
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
# Connecting to a webdriver
driver = webdriver.Chrome(r"D:\Internship\Project 4\Car Price Prediction\chromedriver.exe")

C:\Users\HP\AppData\Local\Temp\ipykernel_14644\83963726.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"D:\Internship\Project 4\Car Price Prediction\chromedriver.exe")

### Car Wale

In [3]:
url = "https://www.carwale.com"
driver.get(url)
driver.maximize_window()
time.sleep(3)

In [5]:
#link for city
used_cars = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[4]/div[3]/section/footer/a/div")

In [6]:
# Clicking used cars
used_cars.click()

In [7]:
# Click Close button
used_cars = driver.find_element(By.XPATH,"/html/body/div[4]/span/span").click()

In [8]:
# Scraping the data
Car_brand = []
car_price = []
kms_driven = []
fuel = []
city = []
car_name = []
year=[]
    
for a in range(1000):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-1)")
   
    #fetching Details
    # Car Brand
    brand= driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
    for i in brand:
        p=i.text.split("\n")
        Car_brand.append(p)
        
    # Car Price
    price= driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
    for i in price:
        n=i.text.split("\n")
        car_price.append(n)
        
    # Kilometers driven
    kms= driver.find_elements(By.XPATH,"//span[@class='slkms']")
    for i in kms:
        o=i.text.split("\n")
        kms_driven.append(o)
        
    # Car Fuel type
    ftyp= driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")
    for i in ftyp:
        m=i.text.split("\n")
        fuel.append(m)
        
    # City
    ct= driver.find_elements(By.XPATH,"//span[@class='cityName']")
    for i in ct:
        c=i.text.split("\n")
        city.append(c)
        
    # Year of Purchase
    yr= driver.find_elements(By.XPATH,"//span[@class='slYear card-detail-block__title-text-with-year']")
    for i in yr:
        y=i.text.split("\n")
        year.append(y)

In [9]:
# Checking the lenght of each list
print(len(Car_brand),len(car_price), len(kms_driven), len(fuel), len(city), len(year))

32000 32000 32000 32000 32000 32000

In [13]:
# COnverting lists into Dataframe
df= pd.DataFrame({"Brand":Car_brand, 
                     "Model":Car_brand,
                     "Price":car_price,
                     "Kilometers Driven":kms_driven,
                     "Fuel":fuel,
                     "City":city,
                     "Year":year})

In [18]:
# First Look of the dataframe
df

,Brand,Model,Price,Kilometers Driven,Fuel,City,Year
0,[Nissan Micra XV CVT [2016-2017]],[Nissan Micra XV CVT [2016-2017]],[₹ 3.45 Lakh],"[50,000 km | ]",[Petrol | ],[Chennai],[2014]
1,[Hyundai i10 Era],[Hyundai i10 Era],[₹ 2.6 Lakh],"[68,078 km | ]",[Petrol | ],[Hyderabad],[2008]
2,[Mercedes-Benz GLS 350 d],[Mercedes-Benz GLS 350 d],[₹ 52 Lakh],"[48,000 km | ]",[Diesel | ],[Delhi],[2016]
3,[Jeep Compass Limited (O) 1.4 Petrol AT [2017-...,[Jeep Compass Limited (O) 1.4 Petrol AT [2017-...,[₹ 13 Lakh],"[23,446 km | ]",[Petrol | ],[Kolkata],[2018]
4,[Honda Brio S MT],[Honda Brio S MT],[₹ 3.75 Lakh],"[36,000 km | ]",[Petrol | ],[Kanpur],[2016]
...,...,...,...,...,...,...,...
31995,[Mercedes-Benz C-Class C 220d Progressive [201...,[Mercedes-Benz C-Class C 220d Progressive [201...,[₹ 51 Lakh],"[7,671 km | ]",[Diesel | ],[Mumbai],[2021]
31996,[Honda WR-V VX MT Petrol],[Honda WR-V VX MT Petrol],[₹ 8.25 Lakh],"[31,654 km | ]",[Petrol | ],[Hyderabad],[2018]
31997,[Ford Figo Titanium1.5 TDCi],[Ford Figo Titanium1.5 TDCi],[₹ 6.95 Lakh],"[39,899 km | ]",[Diesel | ],[Hyderabad],[2019]
31998,[MG Gloster Savvy 6 STR 2.0 Twin Turbo 4WD],[MG Gloster Savvy 6 STR 2.0 Twin Turbo 4WD],[₹ 44 Lakh],"[9,995 km | ]",[Diesel | ],[Mumbai],[2021]
31999,[Maruti Suzuki Baleno Alpha Automatic],[Maruti Suzuki Baleno Alpha Automatic],[₹ 8.25 Lakh],"[10,486 km | ]",[Petrol | ],[Pune],[2018]

*** We will now structure the dataframe properly and weed-out unnecessary characters ***

In [20]:
for i in df.columns:
    df[i] = df[i].str.get(0)

In [24]:
df['Brand'] = df['Model'].str.split(' ').str[0] # Segregating the Brand

In [26]:
df1= pd.DataFrame(df) # Creating a copy of the earlier dataframe

In [27]:
df1['Model'] = df1['Model'].str.split(' ').str[1] # Segregating the Model

In [30]:
df2= pd.DataFrame(df1) # Creating a copy of the earlier dataframe

In [31]:
# Dropping special characters
for i in df2.columns:
    df2=df2.replace('\*','',regex=True).astype(str)

In [37]:
df3= pd.DataFrame(df2) # Creating a copy of the earlier dataframe

In [38]:
# Retrieving only the useful information and dropping the extras
df3['Price'] = df3['Price'].str.split(' ').str[1]
df3['Kilometers Driven'] = df3['Kilometers Driven'].str.split(' ').str[0]
df3['Fuel'] = df3['Fuel'].str.split(' ').str[0]

In [40]:
df3["Price"]= df3["Price"].astype(float) # Changing the type of the column

In [44]:
df3["Kilometers Driven"]=df3["Kilometers Driven"].replace(',','',regex=True).astype(float) # Dropping ',' and changing the type

In [46]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              32000 non-null  object
 1   Model              32000 non-null  object
 2   Price              32000 non-null  float64
 3   Kilometers Driven  32000 non-null  float64
 4   Fuel               32000 non-null  object
 5   City               32000 non-null  object
 6   Year               32000 non-null  int32
dtypes: float64(2), int32(1), object(4)
memory usage: 1.6+ MB

In [41]:
df3["Year"]= df3["Year"].astype(int) # Changing the type

In [42]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              32000 non-null  object
 1   Model              32000 non-null  object
 2   Price              32000 non-null  float64
 3   Kilometers Driven  32000 non-null  object
 4   Fuel               32000 non-null  object
 5   City               32000 non-null  object
 6   Year               32000 non-null  int32
dtypes: float64(1), int32(1), object(5)
memory usage: 1.6+ MB

In [50]:
df3["Price"]= df3["Price"]*100000 # Multiplying by one lakh to get the value since we had dropped the word "lakh"

In [52]:
# Final check
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              32000 non-null  object
 1   Model              32000 non-null  object
 2   Price              32000 non-null  float64
 3   Kilometers Driven  32000 non-null  float64
 4   Fuel               32000 non-null  object
 5   City               32000 non-null  object
 6   Year               32000 non-null  int32
dtypes: float64(2), int32(1), object(4)
memory usage: 1.6+ MB

In [54]:
# Final Look
df3

,Brand,Model,Price,Kilometers Driven,Fuel,City,Year
0,Nissan,Micra,345000.0,50000.0,Petrol,Chennai,2014
1,Hyundai,i10,260000.0,68078.0,Petrol,Hyderabad,2008
2,Mercedes-Benz,GLS,5200000.0,48000.0,Diesel,Delhi,2016
3,Jeep,Compass,1300000.0,23446.0,Petrol,Kolkata,2018
4,Honda,Brio,375000.0,36000.0,Petrol,Kanpur,2016
...,...,...,...,...,...,...,...
31995,Mercedes-Benz,C-Class,5100000.0,7671.0,Diesel,Mumbai,2021
31996,Honda,WR-V,825000.0,31654.0,Petrol,Hyderabad,2018
31997,Ford,Figo,695000.0,39899.0,Diesel,Hyderabad,2019
31998,MG,Gloster,4400000.0,9995.0,Diesel,Mumbai,2021
31999,Maruti,Suzuki,825000.0,10486.0,Petrol,Pune,2018

In [53]:
# saving the dataframe
df3.to_csv('car_price.csv')