In [1]:
# Importing Libraries
import selenium
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
import requests
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chromium import service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

## Web Scrapping - Amazon

In [2]:
# connecting to web drivers and open url
service = Service(r'D:\Machine Learning Course\Internship\chromedriver_win32 (1)\chromedriver.exe')
service.start()

driver = webdriver.Remote(service.service_url)

keyword ='https://www.amazon.in/'
driver.get(keyword)

**Smart phones**

In [3]:
#searching for "smartphones"
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("smartphones")
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [4]:
#empty list to store all URLs of smartphones
product_url =[]

In [5]:
product_url_tag = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [6]:
# url of smartphones are appended to the the list
for u in product_url_tag:
 try: 
     product_url.append(u.get_attribute("href"))
 except:
    product_url.append('-')

In [7]:
# an empty list to store all the urls of comment pages
rate_url = []

In [8]:
#collects all the urls of 1 star - 5 star comment pages.

for i in product_url:
    driver.get(i)
    time.sleep(3)
    try:
        url_tag5 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 5star']")
        rate_url.append(url_tag5.get_attribute("href"))
    except:
        pass
    try:
        url_tag4 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 4star']")
        rate_url.append(url_tag4.get_attribute("href"))
    except:
        pass
    try:
        url_tag3 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 3star']")
        rate_url.append(url_tag3.get_attribute("href"))
    except:
        pass
    try:
        url_tag2 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 2star']")
        rate_url.append(url_tag2.get_attribute("href"))
    except:
        pass
    try:
        url_tag1 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 1star']")
        rate_url.append(url_tag1.get_attribute("href"))
    except:
        pass

In [9]:
cmt = [] #empty list to store all comments
rate = [] #empty list to store all the ratings

In [10]:
#to get comments and ratings on 20 pages 
for i in rate_url:
    driver.get(i)
    for x in range(0,21):
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements(By.XPATH,"//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        try:
            nxtbtn = driver.find_element(By.XPATH,"//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()
        except:
            pass
        #nxtbtn.click()

In [11]:
#to remove the "out of 5 stars" text and stores only the numbers in the Rate list
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [12]:
#creating a dataframe to store the comments and ratings
ratings_df = {'Comment':cmt,'Rating':Rate}

Rate_df1  = pd.DataFrame(ratings_df)

In [13]:
Rate_df1

                                                 Comment Rating
0      If you want to buy under 15k then go for it. S...    5.0
1      Camera: -2/10 Ye 10k ke below price deserve kr...    5.0
2      I bought 6gb/128gb variant foer12,600. This is...    5.0
3      Overall after 7 days of usage this is the beas...    5.0
4      All the features are very nice in this mobile....    5.0
...                                                  ...    ...
23050          I recommend u, plz don't buy it Worthless    1.0
23051  Camera quality is zero, there is no return or ...    1.0
23052  Camera quality is very poor.... Battery back u...    1.0
23053   Camera quality very bad Display quality very bad    1.0
23054   I connect wifi many times but wifi can't be c...    1.0

[23055 rows x 2 columns]

In [14]:
# saving the data in excel file
Rate_df1.to_excel('smartphones1.xlsx')

**Laptops**

In [15]:
#searching for "laptops"
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("laptops")
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [16]:
#empty list to store all URLs of laptops
product_url =[]

In [17]:
product_url_tag = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [18]:
# url of laptops are appended to the the list
for u in product_url_tag:
 try: 
     product_url.append(u.get_attribute("href"))
 except:
    product_url.append('-')

In [19]:
# an empty list to store all the urls of the comment pages
rate_url = []

In [20]:
#collects all the urls of 1 star - 5 star comment pages.

for i in product_url:
    driver.get(i)
    time.sleep(3)
    try:
        url_tag5 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 5star']")
        rate_url.append(url_tag5.get_attribute("href"))
    except:
        pass
    try:
        url_tag4 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 4star']")
        rate_url.append(url_tag4.get_attribute("href"))
    except:
        pass
    try:
        url_tag3 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 3star']")
        rate_url.append(url_tag3.get_attribute("href"))
    except:
        pass
    try:
        url_tag2 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 2star']")
        rate_url.append(url_tag2.get_attribute("href"))
    except:
        pass
    try:
        url_tag1 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 1star']")
        rate_url.append(url_tag1.get_attribute("href"))
    except:
        pass

In [21]:
cmt = [] #empty list to store all comments
rate = [] #empty list to store all the ratings

In [22]:
# to get comments and ratings on 20 pages
for i in rate_url:
    driver.get(i)
    for x in range(0,21):
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements(By.XPATH,"//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        try:
            nxtbtn = driver.find_element(By.XPATH,"//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()
        except:
            pass
        #nxtbtn.click()

In [23]:
# to remove the "out of 5 stars" text and stores only the numbers in the Rate list
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [25]:
print(len(cmt),len(Rate))

12801 12209

In [26]:
cmt=cmt[0:12200]
Rate=Rate[0:12200]

In [27]:
#creating a dataframe to store the comments and ratings
ratings_df = {'Comment':cmt,'Rating':Rate}

Rate_df2  = pd.DataFrame(ratings_df)

In [28]:
Rate_df2

                                                 Comment Rating
0      On the heading of the product it is written it...    5.0
1                   Good configuration!! Average display    5.0
2                                                           5.0
3      I have got this laptop from Amazon for my dail...    5.0
4      Very bad product from hp 3.5 month me khrab ho...    5.0
...                                                  ...    ...
12195  Play Video  Everything in this laptop....Super...    1.0
12196                                                       1.0
12197                Good product with awesome quality ðŸŒŸ    1.0
12198  Good to look . You can use if you want to use ...    1.0
12199  Nice laptop and awesome. I would recommended t...    1.0

[12200 rows x 2 columns]

In [29]:
# saving the data in excel file
Rate_df2.to_excel('laptops1.xlsx')

## Web scraping - Flipkart

In [30]:
# connecting to web drivers and open url
service = Service(r'D:\Machine Learning Course\Internship\chromedriver_win32 (1)\chromedriver.exe')
service.start()

driver = webdriver.Remote(service.service_url)

keyword = 'https://www.flipkart.com/'
driver.get(keyword)

**Smart watches**

In [41]:
#searching for "Smart watches"
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Smart watches')
searchbtn = driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [42]:
#empty list to store all URLs of smartwatches 
product_url = []

In [43]:
# url of each smartwatch is appended to the the list
url_tag = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
for u in url_tag:
     product_url.append(u.get_attribute("href"))

In [44]:
revurl=[] # an empty list to store all the urls of the review section of the products

In [45]:
# url of review section of each product is appended to the the list
for i in product_url:
    driver.get(i)
    time.sleep(1)
    try:
        rev_tag = driver.find_element(By.XPATH,"//*[@class='col JOpGWq']/a")
        revurl.append(rev_tag.get_attribute("href"))
    except:
        pass

In [46]:
cmt = [] # an empty list to store all of the comment
rate = [] # an empty list to store all the ratings
revpgurl=[] # an empty list to store all the urls of the pages containing reviews

In [47]:
#the url of each comment page is appended to the the list
for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [48]:
#all the comments and ratings are collected
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [49]:
len(cmt)

990

In [50]:
len(rate)

769

In [51]:
ratingsdf3 = {'Comment':cmt[0:750],'Rating':rate[0:750]}

Rate_df3  = pd.DataFrame(ratingsdf3) #creating dataframe of reviews and ratings

In [52]:
Rate_df3

                                               Comment Rating
0    Amazing smart watch, probably the best in the ...      5
1    One of best investments I made. Considering I ...      5
2    Best watch in its segment and he coolest part ...      5
3    Apple iWatch series3 is one of the best purcha...      5
4    Product is awesome with cool features but only...      5
..                                                 ...    ...
745                          This product is very good      5
746                                       Nice product      5
747                                    Fantastic watch      5
748                                      Nice profucts      5
749                                       Good product      5

[750 rows x 2 columns]

In [53]:
# saving the data in excel file
Rate_df3.to_excel('smart_watches1.xlsx')

**Smart TV**

In [54]:
#searching for "Smart tv"
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Smart tv')
searchbtn = driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [55]:
#empty list to store all URLs of smartphone products
product_url = []

In [56]:
# url of each smartphone is appended to the the list
url_tag = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
for u in url_tag:
     product_url.append(u.get_attribute("href"))

In [57]:
revurl=[] # an empty list to store all the urls of the review section of the products

In [58]:
#to get url of review section of each product is appended to the the list
for i in product_url:
    driver.get(i)
    time.sleep(1)
    try:
        rev_tag = driver.find_element(By.XPATH,"//*[@class='col JOpGWq']/a")
        revurl.append(rev_tag.get_attribute("href"))
    except:
        pass

In [59]:
cmt = [] # an empty list to store all of the comment
rate = [] # an empty list to store all the ratings
revpgurl=[] # an empty list to store all the urls of the pages containing reviews

In [60]:
#to get url of each comment page is appended to the the list
for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [61]:
#all the comments and ratings are collected
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [62]:
len(cmt)

1970

In [63]:
len(rate)

1770

In [64]:
ratingsdf4 = {'Comment':cmt[0:1750],'Rating':rate[0:1750]}

Rate_df4  = pd.DataFrame(ratingsdf4) #creating dataframe of reviews and ratings

In [65]:
Rate_df4

                                                Comment Rating
0     Nice tv and worth every penny ðŸ‘Œ.....I just lov...      5
1     I love the video quality and the best part is ...      5
2     I'm happy with the service and instalation. Th...      5
3     Review about the TV Pros: 1. Picture clarity a...      4
4     Realme does the job again. Super Smart Tv , pi...      5
...                                                 ...    ...
1745  Value for money, I purchased this non branded ...      4
1746  Picture quality is very low ...it's not 1+8gp ...      4
1747                        Looking is good and love it      4
1748  Very nice picture quality and aap support it j...      5
1749                                       Nice Quality      5

[1750 rows x 2 columns]

In [66]:
# saving the data in excel file
Rate_df4.to_excel('smart_tv1.xlsx')

In [67]:
# to concate all scarpped data as single data set
df = pd.concat([Rate_df1,Rate_df2,Rate_df3,Rate_df4],ignore_index=True)

In [68]:
df

                                                 Comment Rating
0      If you want to buy under 15k then go for it. S...    5.0
1      Camera: -2/10 Ye 10k ke below price deserve kr...    5.0
2      I bought 6gb/128gb variant foer12,600. This is...    5.0
3      Overall after 7 days of usage this is the beas...    5.0
4      All the features are very nice in this mobile....    5.0
...                                                  ...    ...
37750  Value for money, I purchased this non branded ...      4
37751  Picture quality is very low ...it's not 1+8gp ...      4
37752                        Looking is good and love it      4
37753  Very nice picture quality and aap support it j...      5
37754                                       Nice Quality      5

[37755 rows x 2 columns]

In [69]:
df.to_csv('Data.csv')